.reviewsContainer {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}
.review {
    border-bottom: solid 1px lightgray;
}
.reviewStar {
    font-size: x-large;
    font-weight: bold;
    color:rgb(255, 191, 0);
    display: inline;
}
.reviewTitle {
    font-weight: bold;
    font-size: large;
}