body {
  background-color: #f9f8fd;
  color: whitesmoke;
  background-image: url("../../assets/mealsharing-bg.jpg");
  background-size: cover;
}

.welcomeSection {
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: orange;
  padding: 1rem;
  color: whitesmoke;
}

.navBar {
  margin-top: 0;
  padding: 0;
  background-color: #e92d28;
  color: whitesmoke;
}
.navBar ul {
  text-align: center;
  color: whitesmoke;
  list-style: none;
}
.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background-color: orange;
}

.welcomeTitle {
  font-size: 2.2rem;
  font-weight: bold;
  color: whitesmoke;
  margin-bottom: 1rem;
  text-align: center;
}

