body {
  background-color: #f9f8fd;
  color: whitesmoke;
  background-image: url("../../assets/bg_photo.jpg");
  background-size: cover;
}

.welcomeSection {
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: darksalmon;
  color: whitesmoke;
}
.errorMessage {
  color: red;
  font-weight: bold;
  font-size: large;
}

.navBar {
  margin-top: 0;
  padding: 0;
  background-color: #e92d28;
  color: whitesmoke;
}
.navBar ul {
  text-align: center;
  color: whitesmoke;
  list-style: none;
}
.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background-color: orange;
}

.welcomeTitle {
  font-size: 2.2rem;
  font-weight: bold;
  color: whitesmoke;
  margin-bottom: 1rem;
  text-align: center;
}

.mealsListContainer {
  color: #555556;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mealsListContainer h1 {
  color: whitesmoke;
}

.mealsList {
  color: white;
  text-align: left;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4rem;
  row-gap: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.mealsListItem {
  list-style: none;
  background-color: white;
  border-top: solid 0.5rem orange;
  box-shadow: 0.15rem 0.15rem #e8e8ea;
  border-radius: 1rem;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}

.mealsItemTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mealsListItemLocation {
  margin-top: 0rem;
  color: #424244;
}

@media only screen and (max-width: 1100px) {
  .mealsList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .mealsList {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}
